<div class="button-container">

  <button mat-button class="primary-style upper">
    <mat-icon [inline]="true">arrow_downward</mat-icon>
    Preuzmi sadržaj
  </button>

  <div class="small-buttons">
    <div><button mat-button class="primary-style lower">Pošalji u sustav</button></div>
    <div><button mat-button class="primary-style lower">Pošalji u CMS</button></div>
  </div>

  <button mat-button class="accent-style upper">
    <mat-icon [inline]="true">shopping_cart</mat-icon>
    Dodaj u košaricu
  </button>

  <button mat-button class="secondary-style lower">
    <mat-icon [inline]="true">arrow_downward</mat-icon>
    Preuzmi pregledni primjerak
  </button>

</div>
